@tailwind base;
@tailwind components;
@tailwind utilities;


/* To remove the default scroll bar */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

/* Media query to target mobile devices */
@media (max-width: 768px) {
    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scroll-mobile {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;     /* Firefox */
    }
  
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scroll-mobile::-webkit-scrollbar {
      display: none;
    }
  }
  
::-webkit-scrollbar {
    width: 7px;
    position: absolute;
    z-index: 2;
}
::-webkit-scrollbar-track {
    background: #242424;
    padding-top: 64px;
}
::-webkit-scrollbar-thumb {
    background: #6EE7B7;
    opacity: 10;
}

/* width */
/* .custom-scrollbar::-webkit-scrollbar {
    width: 7px;
    opacity: 10;
} */
 
/* Track */
/* .custom-scrollbar::-webkit-scrollbar-track {
    background: #141414;
    border-radius: 5px;
}
  */